In [1]:
from parkrun_scraper_sdk import Country, Course, Result, Event

In [ ]:
countries = Country.get_all_countries()
courses = Course.get_all_courses()

print(countries)

In [ ]:
courses

In [23]:

country_lookup  = {country.id: country  for country in countries}
country_url_lookup  = {country.id: country.url  for country in countries}

course_lookup = {course.id: course for course in courses}

In [ ]:
course_lookup

In [ ]:
#course_ids by country
country_course_ids = {str(country.id): []  for country in countries}
[country_course_ids[str(course.country_code)].append(course.id)  for course in courses]
country_course_ids

#Number of courses by country
country_num_courses = {country_id: len(country_course_ids[country_id])  for country_id in country_course_ids}
country_num_courses


# course = courses[0]
# course

In [ ]:
country_to_process = "4"
courses_to_process = country_course_ids[country_to_process]
courses_to_process

In [ ]:

course = course_lookup[courses_to_process[0]]
Result.get_latest_results(course)

In [ ]:

events = Event.get_event_history(course)

event_id_lookup = {event.event_number: event for event in events}
event_date_lookup = {event.date: event for event in events}

In [32]:
events

[Event(course_id=2857, event_number=157, date=datetime.datetime(2024, 10, 12, 0, 0), finishers=24, volunteers=6, male_first='Paul TURNBULL', female_first='Rachel TURNBULL', male_time='2129', female_time='2128', male_athlete_number=839403, female_athlete_number=1109855),
 Event(course_id=2857, event_number=156, date=datetime.datetime(2024, 10, 5, 0, 0), finishers=121, volunteers=16, male_first='Fergus JOHNSON', female_first='Amy BARTON', male_time='1735', female_time='2309', male_athlete_number=387567, female_athlete_number=189899),
 Event(course_id=2857, event_number=155, date=datetime.datetime(2024, 9, 28, 0, 0), finishers=31, volunteers=5, male_first='Bernd KOHLBACHER', female_first='Hope SLOLY', male_time='1942', female_time='2502', male_athlete_number=9991497, female_athlete_number=92447),
 Event(course_id=2857, event_number=154, date=datetime.datetime(2024, 9, 21, 0, 0), finishers=40, volunteers=5, male_first='Christian ARNOLD', female_first='Clare CUMMINGS', male_time='2003', female_time='2109', male_athlete_number=6415091, female_athlete_number=2195058),
 Event(course_id=2857, event_number=153, date=datetime.datetime(2024, 9, 14, 0, 0), finishers=25, volunteers=7, male_first='Martin PÖTZ', female_first='Ziggy ZIG', male_time='1816', female_time='2255', male_athlete_number=9970738, female_athlete_number=6708491),
 Event(course_id=2857, event_number=152, date=datetime.datetime(2024, 9, 7, 0, 0), finishers=39, volunteers=6, male_first='Benjamin ROBINSON', female_first='Hope SLOLY', male_time='2123', female_time='2443', male_athlete_number=949675, female_athlete_number=92447),
 Event(course_id=2857, event_number=151, date=datetime.datetime(2024, 8, 31, 0, 0), finishers=38, volunteers=5, male_first='Felix TOBER', female_first='Hope SLOLY', male_time='2011', female_time='2444', male_athlete_number=8209299, female_athlete_number=92447),
 Event(course_id=2857, event_number=150, date=datetime.datetime(2024, 8, 24, 0, 0), finishers=36, volunteers=9, male_first='Martin PÖTZ', female_first='Kate FITTON', male_time='1752', female_time='2453', male_athlete_number=9970738, female_athlete_number=395069),
 Event(course_id=2857, event_number=149, date=datetime.datetime(2024, 8, 17, 0, 0), finishers=51, volunteers=5, male_first='Peter JEWELL', female_first='Hannah ROBERTS', male_time='1828', female_time='2040', male_athlete_number=3381584, female_athlete_number=1693180),
 Event(course_id=2857, event_number=148, date=datetime.datetime(2024, 8, 10, 0, 0), finishers=62, volunteers=7, male_first='Oliver ISAAC', female_first='Fleur SISWICK', male_time='2003', female_time='2546', male_athlete_number=676018, female_athlete_number=3437962),
 Event(course_id=2857, event_number=147, date=datetime.datetime(2024, 8, 3, 0, 0), finishers=56, volunteers=5, male_first='Ben MORGAN', female_first='Becky PRICE', male_time='1956', female_time='2317', male_athlete_number=3359124, female_athlete_number=4984177),
 Event(course_id=2857, event_number=146, date=datetime.datetime(2024, 7, 27, 0, 0), finishers=28, volunteers=4, male_first='Kjell HÅLAND', female_first='Jacqueline BENSON', male_time='1942', female_time='2627', male_athlete_number=6826036, female_athlete_number=3531172),
 Event(course_id=2857, event_number=145, date=datetime.datetime(2024, 7, 20, 0, 0), finishers=37, volunteers=6, male_first='Thomas EHRNLEITNER', female_first='Sarah PATERSON', male_time='2124', female_time='2908', male_athlete_number=7594768, female_athlete_number=5791380),
 Event(course_id=2857, event_number=144, date=datetime.datetime(2024, 7, 13, 0, 0), finishers=46, volunteers=5, male_first='Russell MORRIS', female_first='Fatbardhë HAKAJ', male_time='2100', female_time='2501', male_athlete_number=6038885, female_athlete_number=9841381),
 Event(course_id=2857, event_number=143, date=datetime.datetime(2024, 7, 6, 0, 0), finishers=26, volunteers=5, male_first='Nick MACEY', female_first='Lisa BOYD', male_time='2210', female_time='2710', male_athlete_number=3982158, female_athlete_number=3026483),
 Event(course_id=2857, event_number=142, date=datetime.datetime(2024, 6, 29, 0, 0), finishers=53, volunteers=6, male_first='Tobias PIEBER', female_first='Sarah SALE', male_time='1934', female_time='2323', male_athlete_number=7486447, female_athlete_number=1872412),
 Event(course_id=2857, event_number=141, date=datetime.datetime(2024, 6, 22, 0, 0), finishers=30, volunteers=4, male_first='Thomas DUNFORD', female_first='Miane DE CLERCQ', male_time='1845', female_time='2033', male_athlete_number=7270904, female_athlete_number=3572243),
 Event(course_id=2857, event_number=140, date=datetime.datetime(2024, 6, 15, 0, 0), finishers=30, volunteers=6, male_first='Chris JEKIEL', female_first='Weera KARHUMAA', male_time='2159', female_time='2542', male_athlete_number=1215803, female_athlete_number=9458709),
 Event(course_id=2857, event_number=139, date=datetime.datetime(2024, 6, 8, 0, 0), finishers=46, volunteers=7, male_first='Tobias PIEBER', female_first='Caroline TUCK', male_time='1930', female_time='2424', male_athlete_number=7486447, female_athlete_number=218375),
 Event(course_id=2857, event_number=138, date=datetime.datetime(2024, 6, 1, 0, 0), finishers=20, volunteers=5, male_first='Calum JOHNSTON', female_first='Aoife NI MHAOILEOIN', male_time='2117', female_time='2608', male_athlete_number=1062258, female_athlete_number=2271660),
 Event(course_id=2857, event_number=137, date=datetime.datetime(2024, 5, 25, 0, 0), finishers=52, volunteers=6, male_first='Jason HOOLE', female_first='Katherine STREAMS', male_time='2043', female_time='2045', male_athlete_number=3933900, female_athlete_number=1086073),
 Event(course_id=2857, event_number=136, date=datetime.datetime(2024, 5, 18, 0, 0), finishers=20, volunteers=6, male_first='Tobias PIEBER', female_first='Nicky THORNTON', male_time='1936', female_time='2553', male_athlete_number=7486447, female_athlete_number=919894),
 Event(course_id=2857, event_number=135, date=datetime.datetime(2024, 5, 11, 0, 0), finishers=85, volunteers=9, male_first='Liam STRUWE', female_first='Catharine BENNETT', male_time='1901', female_time='2554', male_athlete_number=7273089, female_athlete_number=82975),
 Event(course_id=2857, event_number=134, date=datetime.datetime(2024, 5, 4, 0, 0), finishers=24, volunteers=4, male_first='Dan SLAYFORD', female_first='Imogen ENGLISH', male_time='2148', female_time='2658', male_athlete_number=772757, female_athlete_number=4143261),
 Event(course_id=2857, event_number=133, date=datetime.datetime(2024, 4, 27, 0, 0), finishers=20, volunteers=5, male_first='Vincent VAN RHEDEN', female_first='Fiona QIU', male_time='2142', female_time='2546', male_athlete_number=7750945, female_athlete_number=2522717),
 Event(course_id=2857, event_number=132, date=datetime.datetime(2024, 4, 20, 0, 0), finishers=12, volunteers=7, male_first='Tobias PIEBER', female_first='Annie TRIHAN', male_time='2017', female_time='2711', male_athlete_number=7486447, female_athlete_number=422364),
 Event(course_id=2857, event_number=131, date=datetime.datetime(2024, 4, 13, 0, 0), finishers=28, volunteers=5, male_first='Tobias PIEBER', female_first='Camilla WEST', male_time='1859', female_time='2234', male_athlete_number=7486447, female_athlete_number=107254),
 Event(course_id=2857, event_number=130, date=datetime.datetime(2024, 4, 6, 0, 0), finishers=26, volunteers=8, male_first='Thomas EHRNLEITNER', female_first='Abigail FRAME', male_time='2303', female_time='2348', male_athlete_number=7594768, female_athlete_number=2496),
 Event(course_id=2857, event_number=129, date=datetime.datetime(2024, 3, 30, 0, 0), finishers=18, volunteers=4, male_first='Julius OTT', female_first='Donna HEALEY', male_time='1725', female_time='2646', male_athlete_number=8056359, female_athlete_number=1093365),
 Event(course_id=2857, event_number=128, date=datetime.datetime(2024, 3, 23, 0, 0), finishers=17, volunteers=4, male_first='Patrick JACKSON', female_first='Nicky THORNTON', male_time='1755', female_time='2647', male_athlete_number=6461032, female_athlete_number=919894),
 Event(course_id=2857, event_number=127, date=datetime.datetime(2024, 3, 16, 0, 0), finishers=18, volunteers=4, male_first='Klaus DERNDORFER', female_first='Katherine ELMORE-JONES', male_time='1843', female_time='2358', male_athlete_number=5229203, female_athlete_number=6617),
 Event(course_id=2857, event_number=126, date=datetime.datetime(2024, 3, 9, 0, 0), finishers=12, volunteers=4, male_first='Harry FALLOWS', female_first='Elisabeth SCOTT', male_time='2158', female_time='3129', male_athlete_number=3658223, female_athlete_number=697191),
 Event(course_id=2857, event_number=125, date=datetime.datetime(2024, 3, 2, 0, 0), finishers=21, volunteers=5, male_first='David GEIßHÜTTNER', female_first='Nicky THORNTON', male_time='2100', female_time='2526', male_athlete_number=9107575, female_athlete_number=919894),
 Event(course_id=2857, event_number=124, date=datetime.datetime(2024, 2, 24, 0, 0), finishers=30, volunteers=7, male_first='Gavin QUIGLEY', female_first='Camilla ENGLISH', male_time='1823', female_time='2625', male_athlete_number=6134604, female_athlete_number=232165),
 Event(course_id=2857, event_number=123, date=datetime.datetime(2024, 2, 17, 0, 0), finishers=23, volunteers=6, male_first='Tobias PIEBER', female_first='Rachel STROTHER', male_time='1946', female_time='2752', male_athlete_number=7486447, female_athlete_number=1504555),
 Event(course_id=2857, event_number=122, date=datetime.datetime(2024, 2, 10, 0, 0), finishers=19, volunteers=5, male_first='Lukas GALIC', female_first='Nicky THORNTON', male_time='2128', female_time='2720', male_athlete_number=9289350, female_athlete_number=919894),
 Event(course_id=2857, event_number=121, date=datetime.datetime(2024, 2, 3, 0, 0), finishers=28, volunteers=5, male_first='Oliver GANDOLFI', female_first='Monika MOLNAR', male_time='2012', female_time='2337', male_athlete_number=3203023, female_athlete_number=43921),
 Event(course_id=2857, event_number=120, date=datetime.datetime(2024, 1, 27, 0, 0), finishers=30, volunteers=6, male_first='Ian THOMPSON', female_first='Nicky THORNTON', male_time='2033', female_time='2648', male_athlete_number=132228, female_athlete_number=919894),
 Event(course_id=2857, event_number=119, date=datetime.datetime(2024, 1, 20, 0, 0), finishers=18, volunteers=6, male_first='Alex TURNER', female_first='Emma DAVIS', male_time='1929', female_time='2503', male_athlete_number=2722323, female_athlete_number=4184458),
 Event(course_id=2857, event_number=118, date=datetime.datetime(2024, 1, 13, 0, 0), finishers=10, volunteers=5, male_first='Richard LEE', female_first='Imogen LAING', male_time='2050', female_time='2444', male_athlete_number=2154949, female_athlete_number=6720860),
 Event(course_id=2857, event_number=117, date=datetime.datetime(2024, 1, 6, 0, 0), finishers=20, volunteers=5, male_first='Tobias PIEBER', female_first='Silke HERRMANN', male_time='1935', female_time='2746', male_athlete_number=7486447, female_athlete_number=4159007),
 Event(course_id=2857, event_number=116, date=datetime.datetime(2023, 12, 30, 0, 0), finishers=22, volunteers=4, male_first='Chris ABBEY', female_first='Maddyson MALLET', male_time='1904', female_time='2214', male_athlete_number=7511272, female_athlete_number=5988053),
 Event(course_id=2857, event_number=115, date=datetime.datetime(2023, 12, 16, 0, 0), finishers=25, volunteers=4, male_first='Łukasz GOLAK', female_first='Asia BUKOWSKA-GOLAK', male_time='2128', female_time='2323', male_athlete_number=439825, female_athlete_number=880885),
 Event(course_id=2857, event_number=114, date=datetime.datetime(2023, 12, 9, 0, 0), finishers=19, volunteers=6, male_first='Tobias PIEBER', female_first='Katie DAVIES', male_time='2113', female_time='2851', male_athlete_number=7486447, female_athlete_number=4579219),
 Event(course_id=2857, event_number=113, date=datetime.datetime(2023, 11, 25, 0, 0), finishers=22, volunteers=5, male_first='Anthony DAVEY', female_first='Sabina BRUCKNER', male_time='2042', female_time='2616', male_athlete_number=2429154, female_athlete_number=8218792),
 Event(course_id=2857, event_number=112, date=datetime.datetime(2023, 11, 18, 0, 0), finishers=18, volunteers=5, male_first='Eric HARBOUR', female_first='Helen SERERE', male_time='2011', female_time='2623', male_athlete_number=8893487, female_athlete_number=8636251),
 Event(course_id=2857, event_number=111, date=datetime.datetime(2023, 11, 11, 0, 0), finishers=30, volunteers=6, male_first='Florian KUBOUSCHEK', female_first='Dagmara STRYJAK', male_time='2031', female_time='2704', male_athlete_number=7695311, female_athlete_number=7594787),
 Event(course_id=2857, event_number=110, date=datetime.datetime(2023, 11, 4, 0, 0), finishers=22, volunteers=4, male_first='Luke MCQUADE', female_first='Natalie EXETER', male_time='2022', female_time='2541', male_athlete_number=566021, female_athlete_number=8889089),
 Event(course_id=2857, event_number=109, date=datetime.datetime(2023, 10, 28, 0, 0), finishers=21, volunteers=5, male_first='Vincent VAN RHEDEN', female_first='Barbara FARFELEDER', male_time='2040', female_time='2714', male_athlete_number=7750945, female_athlete_number=7121016),
 Event(course_id=2857, event_number=108, date=datetime.datetime(2023, 10, 21, 0, 0), finishers=28, volunteers=5, male_first='Daniel THWAITES', female_first='Kerry RILEY', male_time='1947', female_time='2222', male_athlete_number=4825888, female_athlete_number=650965),
 Event(course_id=2857, event_number=107, date=datetime.datetime(2023, 10, 14, 0, 0), finishers=23, volunteers=7, male_first='Richard CONDER', female_first='Victoria BENNETT', male_time='1930', female_time='2501', male_athlete_number=156811, female_athlete_number=423056),
 Event(course_id=2857, event_number=106, date=datetime.datetime(2023, 10, 7, 0, 0), finishers=22, volunteers=7, male_first='Robert PERRY', female_first='Anoushka FREEMAN', male_time='2020', female_time='2227', male_athlete_number=109246, female_athlete_number=6668370),
 Event(course_id=2857, event_number=105, date=datetime.datetime(2023, 9, 30, 0, 0), finishers=75, volunteers=18, male_first='Liam DAMM', female_first='Sue THOMAS', male_time='2116', female_time='2517', male_athlete_number=5534617, female_athlete_number=1703621),
 Event(course_id=2857, event_number=104, date=datetime.datetime(2023, 9, 23, 0, 0), finishers=16, volunteers=7, male_first='Luke MCQUADE', female_first='Rachel OAKLEY', male_time='2024', female_time='2755', male_athlete_number=566021, female_athlete_number=1688450),
 Event(course_id=2857, event_number=103, date=datetime.datetime(2023, 9, 16, 0, 0), finishers=22, volunteers=4, male_first='Sebastian LAWRENCE', female_first='Evie ELLIOTT', male_time='1711', female_time='2432', male_athlete_number=2485017, female_athlete_number=7052245),
 Event(course_id=2857, event_number=102, date=datetime.datetime(2023, 9, 9, 0, 0), finishers=14, volunteers=5, male_first='Stephen VALENTINE', female_first='Juliette WELLS GRAY', male_time='2037', female_time='2412', male_athlete_number=49320, female_athlete_number=6474729),
 Event(course_id=2857, event_number=101, date=datetime.datetime(2023, 9, 2, 0, 0), finishers=27, volunteers=5, male_first='Dominic ASHTON', female_first='Kate TELFORD', male_time='1915', female_time='1954', male_athlete_number=1071050, female_athlete_number=192482),
 Event(course_id=2857, event_number=100, date=datetime.datetime(2023, 8, 26, 0, 0), finishers=27, volunteers=7, male_first='Michael HOLMES', female_first='Jacintha BAILEY', male_time='2141', female_time='2358', male_athlete_number=3443944, female_athlete_number=3163292),
 Event(course_id=2857, event_number=99, date=datetime.datetime(2023, 8, 19, 0, 0), finishers=34, volunteers=5, male_first='Hugh TORRY', female_first='Victoria CRAWFORD', male_time='1819', female_time='2155', male_athlete_number=50195, female_athlete_number=69328),
 Event(course_id=2857, event_number=98, date=datetime.datetime(2023, 8, 12, 0, 0), finishers=43, volunteers=5, male_first='Sebastian WUNNENBURGER', female_first='Krysia SMITH', male_time='1728', female_time='2325', male_athlete_number=4668976, female_athlete_number=211567),
 Event(course_id=2857, event_number=97, date=datetime.datetime(2023, 7, 29, 0, 0), finishers=44, volunteers=7, male_first='Justin BOOTH', female_first='Jutta WINTERSTELLER', male_time='2107', female_time='2709', male_athlete_number=7944771, female_athlete_number=2317056),
 Event(course_id=2857, event_number=96, date=datetime.datetime(2023, 7, 22, 0, 0), finishers=28, volunteers=8, male_first='Tobias PIEBER', female_first='Franziska BRANDMEIER', male_time='1943', female_time='2531', male_athlete_number=7486447, female_athlete_number=4329087),
 Event(course_id=2857, event_number=95, date=datetime.datetime(2023, 7, 15, 0, 0), finishers=35, volunteers=6, male_first='Rory MONTI', female_first='Karen COOK', male_time='1943', female_time='2800', male_athlete_number=347305, female_athlete_number=2813944),
 Event(course_id=2857, event_number=94, date=datetime.datetime(2023, 7, 8, 0, 0), finishers=25, volunteers=4, male_first='Tom MULLIGAN', female_first='Juliette WELLS GRAY', male_time='1758', female_time='2258', male_athlete_number=2066930, female_athlete_number=6474729),
 Event(course_id=2857, event_number=93, date=datetime.datetime(2023, 7, 1, 0, 0), finishers=24, volunteers=4, male_first='Nelson YARWOOD', female_first='Barbara FARFELEDER', male_time='1941', female_time='2840', male_athlete_number=7165086, female_athlete_number=7121016),
 Event(course_id=2857, event_number=92, date=datetime.datetime(2023, 6, 24, 0, 0), finishers=27, volunteers=5, male_first='Tobias PIEBER', female_first='Rosa CLUBLEY', male_time='1900', female_time='2643', male_athlete_number=7486447, female_athlete_number=3379742),
 Event(course_id=2857, event_number=91, date=datetime.datetime(2023, 6, 17, 0, 0), finishers=36, volunteers=4, male_first='Leo LORGE', female_first='Juliette WELLS GRAY', male_time='2105', female_time='2315', male_athlete_number=8583742, female_athlete_number=6474729),
 Event(course_id=2857, event_number=90, date=datetime.datetime(2023, 6, 10, 0, 0), finishers=19, volunteers=5, male_first='Tobias PIEBER', female_first='Linda OHRTMANN', male_time='2022', female_time='3029', male_athlete_number=7486447, female_athlete_number=7357478),
 Event(course_id=2857, event_number=89, date=datetime.datetime(2023, 6, 3, 0, 0), finishers=20, volunteers=6, male_first='Vincent VAN RHEDEN', female_first='Juliette WELLS GRAY', male_time='2218', female_time='2454', male_athlete_number=7750945, female_athlete_number=6474729),
 Event(course_id=2857, event_number=88, date=datetime.datetime(2023, 5, 27, 0, 0), finishers=23, volunteers=8, male_first='Tobias PIEBER', female_first='Silvia BRUTSCHIN', male_time='2019', female_time='2633', male_athlete_number=7486447, female_athlete_number=7147504),
 Event(course_id=2857, event_number=87, date=datetime.datetime(2023, 5, 20, 0, 0), finishers=59, volunteers=11, male_first='Сергей МИХАЙЛЕНКО', female_first='Erika ORSAGOVA', male_time='1832', female_time='2702', male_athlete_number=3587647, female_athlete_number=1070053),
 Event(course_id=2857, event_number=86, date=datetime.datetime(2023, 5, 13, 0, 0), finishers=17, volunteers=4, male_first='Tobias PIEBER', female_first='Juliette WELLS GRAY', male_time='1950', female_time='2330', male_athlete_number=7486447, female_athlete_number=6474729),
 Event(course_id=2857, event_number=85, date=datetime.datetime(2023, 5, 6, 0, 0), finishers=14, volunteers=4, male_first='Dmitrii SHAULSKII', female_first='Angelika BOCK', male_time='1903', female_time='2216', male_athlete_number=7555783, female_athlete_number=8131982),
 Event(course_id=2857, event_number=84, date=datetime.datetime(2023, 4, 29, 0, 0), finishers=24, volunteers=5, male_first='Dmitrii SHAULSKII', female_first='Lydia WILLGRESS', male_time='1857', female_time='2525', male_athlete_number=7555783, female_athlete_number=2621245),

In [ ]:
Result.get_results(course, 156)

In [73]:
from json import load
from typing import Optional, Dict, Any, List
from unittest import result
from datetime import datetime


from parkrun_scraper_sdk import event
# from mountainash_utils_hamilton import BaseHamiltonOrchestratorMixin

class ParkrunDataExtractionOrchestrator: #(BaseHamiltonOrchestratorMixin):



    def __init__(self, processing_date: str): #, settings_parameters: SettingsParameters):
        # self.settings_parameters = settings_parameters
        # Initialize other necessary components (API client, data storage, etc.)

        self.processing_date = processing_date

        self.live_courses_lookup: Dict[str, Course] = None
        self.live_countries_lookup: Dict[str, Country] = None
        self.country_course_ids: Dict[str, List[str]] = None
        self.country_num_courses: Dict[str, int] = None



        self.load_live_countries_lookup()
        self.load_live_courses_lookup()
        self.load_country_course_ids()
        self.load_country_num_courses()


    # def init_base_hamilton_inputs(self) -> Dict[str, Any]:
    #     return dict(obj_orchestrator=self)

    # def init_base_hamilton_module_names(self) -> str|List[str]:
    #     return 'parkrun_data_extraction.pipeline_parkrun_extraction'

    def extract_raw_countries(self) -> List[Country]:
        # Implementation for extracting countries
        return Country.get_all_countries()
    
    def extract_raw_courses(self) -> List[Course]:
        # Implementation for extracting courses
        return Course.get_all_courses()

    # Methods for each extraction step
    def load_live_countries_lookup(self) -> List[Country]:
        # Implementation for extracting countries
        if self.live_countries_lookup is None:
            self.live_countries_lookup = {country.id: country for country in Country.get_all_countries()}
        
    def load_live_courses_lookup(self) -> List[Course]:
        # Implementation for extracting courses
        if self.live_courses_lookup is None:
            self.live_courses_lookup = {course.id: course for course in Course.get_all_courses()}


    def load_country_course_ids(self) -> None:
        #course_ids by country

        countries = list(self.live_countries_lookup.values())
        courses =   list(self.live_courses_lookup.values())

        if self.country_course_ids is None:

            self.country_course_ids = {str(country.id): []  for country in countries}
            [self.country_course_ids[str(course.country_code)].append(course.id)  for course in courses]


    def load_country_num_courses(self) -> None:
        #Number of courses by country

        if self.country_num_courses is None:

            if self.country_course_ids is None:
                self.load_country_course_ids()

            self.country_num_courses = {country_id: len(self.country_course_ids[country_id])  for country_id in self.country_course_ids}



    #Events
    def extract_raw_course_events(self, course_id: str) -> List[Event]:
        # Implementation for extracting events for a specific course
        course = self.live_courses_lookup[course_id]
        return Event.get_event_history(course)


    def get_course_event_date_lookup(self, events: Dict[str, Event]) -> Dict[str, Event]:
        return {event.date: event for event in events}


    def get_course_event_id_lookup(self, events: Dict[str, Event]) -> Dict[str, Event]:
        return {event.event_number: event for event in events}



    def get_course_first_event_date(self, course_id) -> Event:
        events = self.extract_raw_course_events(course_id)
        event_dates = self.get_course_event_date_lookup(events)
        return min(event_dates.keys())



    #Results
    def extract_raw_event_results(self, course_id: str, event_id: str) -> Dict[str, Result]:
        # Implementation for extracting results for a specific event

        course = self.live_courses_lookup[course_id]
        results = Result.get_results(course, event_id)
        return results


    # Incremental extraction
    def extract_course_new_event_history(self, course_id, processed_event_numbers: List[str] = None) -> List[Dict[str, Event]]:

        if processed_event_numbers is None:
            processed_event_numbers = []

        events = self.extract_raw_course_events(course_id)
        event_id_lookup = self.get_course_event_id_lookup(events)
        processing_date = datetime.strptime(self.processing_date, "%Y-%m-%d")

        unprocessed_events = {}

        for event_id in event_id_lookup:
            event = event_id_lookup[event_id]
            if event_id in processed_event_numbers:
                continue
            if event.date > processing_date:
                continue

            unprocessed_events[event_id] = event_id_lookup[event_id]

        return unprocessed_events

    def extract_course_new_result_history(self, course_id, processed_event_numbers: List[str] = None) -> List[Dict[str, Result]]:

        if processed_event_numbers is None:
            processed_event_numbers = []

        events = self.extract_raw_course_events(course_id)
        event_id_lookup = self.get_course_event_id_lookup(events)

        processing_date = datetime.strptime(self.processing_date, "%Y-%m-%d")

        unprocessed_results = {}

        for event_id in event_id_lookup:
            event = event_id_lookup[event_id]

            if event_id in processed_event_numbers:
                continue

            if event.date > processing_date:
                continue

            unprocessed_results[event_id] = self.extract_raw_event_results(course_id, event_id)

        return unprocessed_results



    # # Method to run the entire extraction process
    # def run_extraction(self):
    #     hamilton_nodes = ["extract_countries", "extract_courses", "extract_events", "extract_results"]
    #     return self.run_hamilton_pipeline(output_nodes=hamilton_nodes)

In [81]:
obj = ParkrunDataExtractionOrchestrator("2024-10-22")

In [82]:
processing_country = "54"

courses_to_process = obj.country_course_ids[processing_country]
courses_to_process

[3549]

In [83]:

obj.get_course_first_event_date(courses_to_process[0])

datetime.datetime(2024, 9, 21, 0, 0)

In [89]:
obj.extract_course_new_result_history(courses_to_process[0], [1,2] )

{4: [Result(course_id=3549, event_number=4, name='Siarhei YAKAULEU', age_group='VV45-49', club='', gender='Vyras', gender_position=1, position=1, runs=4, age_grade=72.89, achievement=None, volunteer_count=0, time='19:55', personal_best=None, athlete_id=10048998, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Ivan SAUCHUK', age_group='SV30-34', club='', gender='Vyras', gender_position=2, position=2, runs=4, age_grade=62.23, achievement=None, volunteer_count=0, time='20:47', personal_best=None, athlete_id=9997530, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Lina AMBRULEVICIUTE', age_group='VM35-39', club='Serpentine RC', gender='Moteris', gender_position=None, position=3, runs=37, age_grade=70.3, achievement='Naujokas!', volunteer_count=8, time='21:16', personal_best=None, athlete_id=5341395, is_pb=False, club_membership='25 klubo narys'),
  Result(course_id=3549, event_number=4, name='Paulius BABILAS', age_group='VV35-39', club='', gender='Vyras', gender_position=3, position=4, runs=4, age_grade=60.94, achievement=None, volunteer_count=0, time='22:14', personal_best=None, athlete_id=10063757, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Nežinomas', age_group='', club='', gender=None, gender_position=None, position=5, runs=0, age_grade=0.0, achievement=None, volunteer_count=None, time='', personal_best=None, athlete_id=None, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Jonas AŽUKAS', age_group='VV40-44', club='', gender='Vyras', gender_position=4, position=6, runs=2, age_grade=61.53, achievement=None, volunteer_count=0, time='22:42', personal_best=None, athlete_id=10080130, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Martynas RAŠINSKAS', age_group='VV35-39', club='', gender='Vyras', gender_position=5, position=7, runs=2, age_grade=58.4, achievement='Naujas geriausias asmeninis rezultatas!', volunteer_count=0, time='22:43', personal_best=None, athlete_id=10079774, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Kęstutis MIKULĖNAS', age_group='VV45-49', club='', gender='Vyras', gender_position=6, position=8, runs=2, age_grade=63.39, achievement=None, volunteer_count=0, time='22:43', personal_best=None, athlete_id=10031155, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Joseph HUGHES', age_group='VV35-39', club='', gender='Vyras', gender_position=7, position=9, runs=5, age_grade=57.6, achievement='Naujokas!', volunteer_count=0, time='23:02', personal_best=None, athlete_id=8506642, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Valerij JERMAK', age_group='VV40-44', club='', gender='Vyras', gender_position=8, position=10, runs=3, age_grade=60.89, achievement=None, volunteer_count=0, time='23:06', personal_best=None, athlete_id=10079531, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Julius KAVECKAS', age_group='VV35-39', club='', gender='Vyras', gender_position=9, position=11, runs=15, age_grade=56.94, achievement='Naujokas!', volunteer_count=0, time='23:18', personal_best=None, athlete_id=3949447, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Dave THORNTON', age_group='VV55-59', club='John Lewis Partnership RC', gender='Vyras', gender_position=None, position=12, runs=373, age_grade=66.52, achievement='Naujokas!', volunteer_count=57, time='23:18', personal_best=None, athlete_id=951558, is_pb=False, club_membership='250 klubo narys'),
  Result(course_id=3549, event_number=4, name='Nežinomas', age_group='', club='', gender=None, gender_position=None, position=13, runs=0, age_grade=0.0, achievement=None, volunteer_count=None, time='', personal_best=None, athlete_id=None, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Aleksandr K', age_group='VV35-39', club='', gender='Vyras', gender_position=11, position=14, runs=1, age_grade=56.53, achievement='Naujokas!', volunteer_count=0, time='23:37', personal_best=None, athlete_id=10152138, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Julius RUSECKAS', age_group='VV45-49', club='', gender='Vyras', gender_position=12, position=15, runs=4, age_grade=60.22, achievement=None, volunteer_count=0, time='23:43', personal_best=None, athlete_id=8968034, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Danny FISHWICK', age_group='VV35-39', club='parkrun World tourists', gender='Vyras', gender_position=None, position=16, runs=140, age_grade=54.97, achievement='Naujokas!', volunteer_count=0, time='23:59', personal_best=None, athlete_id=911874, is_pb=False, club_membership='100 klubo narys'),
  Result(course_id=3549, event_number=4, name='Andrej POLUJANSKIJ', age_group='SV30-34', club='', gender='Vyras', gender_position=14, position=17, runs=1, age_grade=54.13, achievement='Naujokas!', volunteer_count=0, time='24:14', personal_best=None, athlete_id=10098026, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Nežinomas', age_group='', club='', gender=None, gender_position=None, position=18, runs=0, age_grade=0.0, achievement=None, volunteer_count=None, time='', personal_best=None, athlete_id=None, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Matthew BRAID', age_group='VV35-39', club='David White Running Fitness', gender='Vyras', gender_position=None, position=19, runs=68, age_grade=50.84, achievement='Naujokas!', volunteer_count=5, time='25:56', personal_best=None, athlete_id=2539270, is_pb=False, club_membership='50 klubo narys'),
  Result(course_id=3549, event_number=4, name='Žygimantas SMETONA', age_group='SV25-29', club='', gender='Vyras', gender_position=16, position=20, runs=1, age_grade=48.86, achievement='Naujokas!', volunteer_count=0, time='26:24', personal_best=None, athlete_id=10131278, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Nežinomas', age_group='', club='', gender=None, gender_position=None, position=21, runs=0, age_grade=0.0, achievement=None, volunteer_count=None, time='', personal_best=None, athlete_id=None, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Natalija KAMARAUSKAITE', age_group='VM40-44', club='', gender='Moteris', gender_position=2, position=22, runs=1, age_grade=57.94, achievement='Naujokas!', volunteer_count=2, time='26:45', personal_best=None, athlete_id=10039611, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Louise BEASLEY', age_group='VM40-44', club='Redditch STARS', gender='Moteris', gender_position=None, position=23, runs=387, age_grade=58.31, achievement='Naujokas!', volunteer_count=42, time='26:47', personal_best=None, athlete_id=313720, is_pb=False, club_membership='250 klubo narys'),
  Result(course_id=3549, event_number=4, name='Richard BAZELEY', age_group='VV40-44', club='On The  Run Aylesbury', gender='Vyras', gender_position=None, position=24, runs=367, age_grade=51.33, achievement='Naujokas!', volunteer_count=89, time='26:59', personal_best=None, athlete_id=486766, is_pb=False, club_membership='250 klubo narys'),
  Result(course_id=3549, event_number=4, name='Kristina KIŠKIŪNIENĖ', age_group='VM45-49', club='', gender='Moteris', gender_position=4, position=25, runs=3, age_grade=59.89, achievement='Naujas geriausias asmeninis rezultatas!', volunteer_count=0, time='27:03', personal_best=None, athlete_id=10091781, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Wendy JONES', age_group='VM50-54', club='On The  Run Aylesbury', gender='Moteris', gender_position=None, position=26, runs=200, age_grade=64.31, achievement='Naujokas!', volunteer_count=11, time='27:05', personal_best=None, athlete_id=1512912, is_pb=False, club_membership='100 klubo narys'),
  Result(course_id=3549, event_number=4, name='Andrius MOCKUS', age_group='SV30-34', club='', gender='Vyras', gender_position=18, position=27, runs=1, age_grade=48.07, achievement='Naujokas!', volunteer_count=0, time='27:09', personal_best=None, athlete_id=10148380, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Žilvinas ŠVEDKAUSKAS', age_group='SV30-34', club='', gender='Vyras', gender_position=19, position=28, runs=1, age_grade=47.62, achievement='Naujokas!', volunteer_count=0, time='27:18', personal_best=None, athlete_id=10151590, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Fausta JANULYTE', age_group='SM25-29', club='North Bristol Running Group', gender='Moteris', gender_position=6, position=29, runs=23, age_grade=54.08, achievement='Naujas geriausias asmeninis rezultatas!', volunteer_count=1, time='27:22', personal_best=None, athlete_id=9534423, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Nežinomas', age_group='', club='', gender=None, gender_position=None, position=30, runs=0, age_grade=0.0, achievement=None, volunteer_count=None, time='', personal_best=None, athlete_id=None, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Dovydas KORABELNIKOV', age_group='JV11-14', club='', gender='Vyras', gender_position=20, position=31, runs=2, age_grade=52.6, achievement=None, volunteer_count=0, time='27:34', personal_best=None, athlete_id=10104059, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Maksim FILIPOV', age_group='SV30-34', club='', gender='Vyras', gender_position=21, position=32, runs=7, age_grade=47.25, achievement=None, volunteer_count=0, time='27:37', personal_best=None, athlete_id=8912385, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Alexander VISHNEVSKIY', age_group='VV40-44', club='', gender='Vyras', gender_position=None, position=33, runs=25, age_grade=48.84, achievement=None, volunteer_count=0, time='27:57', personal_best=None, athlete_id=3731454, is_pb=False, club_membership='25 klubo narys'),
  Result(course_id=3549, event_number=4, name='Stacey COLEMAN', age_group='VM40-44', club='', gender='Moteris', gender_position=None, position=34, runs=143, age_grade=55.77, achievement='Naujokas!', volunteer_count=136, time='28:00', personal_best=None, athlete_id=5301880, is_pb=False, club_membership='100 klubo narys'),
  Result(course_id=3549, event_number=4, name='Jack ROBERTS', age_group='SV25-29', club='', gender='Vyras', gender_position=None, position=35, runs=50, age_grade=45.8, achievement='Naujokas!', volunteer_count=0, time='28:12', personal_best=None, athlete_id=8786512, is_pb=False, club_membership='50 klubo narys'),
  Result(course_id=3549, event_number=4, name='Shane SWEENEY', age_group='SV25-29', club='', gender='Vyras', gender_position=24, position=36, runs=1, age_grade=45.69, achievement='Naujokas!', volunteer_count=0, time='28:14', personal_best=None, athlete_id=10151445, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Ronaldas KONDRATAS', age_group='VV75-79', club='', gender='Vyras', gender_position=25, position=37, runs=1, age_grade=72.39, achievement='Naujokas!', volunteer_count=0, time='28:22', personal_best=None, athlete_id=10057480, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Rosie EKE', age_group='VM40-44', club='', gender='Moteris', gender_position=8, position=38, runs=21, age_grade=55.4, achievement='Naujas geriausias asmeninis rezultatas!', volunteer_count=0, time='28:24', personal_best=None, athlete_id=315673, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Ieva RAMANAUSKAITE', age_group='SM30-34', club='', gender='Moteris', gender_position=9, position=39, runs=15, age_grade=52.22, achievement='Naujokas!', volunteer_count=0, time='28:32', personal_best=None, athlete_id=3949436, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Roesia RATTIGAN', age_group='SM25-29', club='', gender='Moteris', gender_position=10, position=40, runs=1, age_grade=50.2, achievement='Naujokas!', volunteer_count=0, time='29:29', personal_best=None, athlete_id=10150836, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Mike KIRKMAN', age_group='VV50-54', club='', gender='Vyras', gender_position=26, position=41, runs=3, age_grade=50.03, achievement=None, volunteer_count=0, time='30:13', personal_best=None, athlete_id=10031999, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Jurgita BARISAUSKIENE', age_group='VM45-49', club='Emersons Green Running Club', gender='Moteris', gender_position=None, position=42, runs=140, age_grade=52.65, achievement='Naujokas!', volunteer_count=11, time='30:27', personal_best=None, athlete_id=3045640, is_pb=False, club_membership='100 klubo narys'),
  Result(course_id=3549, event_number=4, name='Aleksei POPOV', age_group='VV55-59', club='', gender='Vyras', gender_position=27, position=43, runs=4, age_grade=50.88, achievement=None, volunteer_count=0, time='30:28', personal_best=None, athlete_id=10032691, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Dario FERRARO', age_group='VV40-44', club='', gender='Vyras', gender_position=28, position=44, runs=3, age_grade=44.37, achievement=None, volunteer_count=0, time='30:46', personal_best=None, athlete_id=10036788, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Gilė MIKAILAITĖ', age_group='JM11-14', club='', gender='Moteris', gender_position=12, position=45, runs=2, age_grade=50.67, achievement=None, volunteer_count=0, time='31:01', personal_best=None, athlete_id=10049058, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Lukas ŠIVICKAS', age_group='SV25-29', club='', gender='Vyras', gender_position=29, position=46, runs=2, age_grade=41.35, achievement=None, volunteer_count=0, time='31:12', personal_best=None, athlete_id=10064588, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Victoria LEGGETT', age_group='VM35-39', club='', gender='Moteris', gender_position=None, position=47, runs=117, age_grade=48.64, achievement='Naujokas!', volunteer_count=2, time='31:15', personal_best=None, athlete_id=2731913, is_pb=False, club_membership='100 klubo narys'),
  Result(course_id=3549, event_number=4, name='Patrick EASTABROOK', age_group='VV35-39', club='MAN v FAT Football', gender='Vyras', gender_position=None, position=48, runs=271, age_grade=42.63, achievement='Naujokas!', volunteer_count=66, time='31:47', personal_best=None, athlete_id=1036590, is_pb=False, club_membership='250 klubo narys'),
  Result(course_id=3549, event_number=4, name='Dovilė ENDRIUKAITYTĖ', age_group='VM35-39', club='', gender='Moteris', gender_position=14, position=49, runs=2, age_grade=46.09, achievement=None, volunteer_count=0, time='32:39', personal_best=None, athlete_id=10090506, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Veslana JERMAK', age_group='VM45-49', club='', gender='Moteris', gender_position=15, position=50, runs=2, age_grade=50.61, achievement='Naujas geriausias asmeninis rezultatas!', volunteer_count=0, time='32:44', personal_best=None, athlete_id=10079536, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Jolanta BLAŽAITĖ', age_group='VM55-59', club="Fletcher's Cove parkrunners", gender='Moteris', gender_position=None, position=51, runs=161, age_grade=56.71, achievement='Naujokas!', volunteer_count=29, time='32:48', personal_best=None, athlete_id=146910, is_pb=False, club_membership='100 klubo narys'),
  Result(course_id=3549, event_number=4, name='Austėja ŠVEDKAUSKIENĖ', age_group='SM30-34', club='', gender='Moteris', gender_position=17, position=52, runs=1, age_grade=43.79, achievement='Naujokas!', volunteer_count=0, time='33:57', personal_best=None, athlete_id=10152528, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Danuta DĄBROWSKA', age_group='SM30-34', club='', gender='Moteris', gender_position=None, position=53, runs=35, age_grade=42.47, achievement='Naujokas!', volunteer_count=0, time='35:05', personal_best=None, athlete_id=8252417, is_pb=False, club_membership='25 klubo narys'),
  Result(course_id=3549, event_number=4, name='Alexey KOROVIN', age_group='VV45-49', club='', gender='Vyras', gender_position=31, position=54, runs=4, age_grade=41.67, achievement=None, volunteer_count=0, time='35:07', personal_best=None, athlete_id=10006507, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Lina ŽEMAITYTĖ KIRKMAN', age_group='VM40-44', club='', gender='Moteris', gender_position=19, position=55, runs=2, age_grade=44.03, achievement=None, volunteer_count=0, time='35:12', personal_best=None, athlete_id=10036251, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Ignas KAVECKAS', age_group='SV25-29', club='', gender='Vyras', gender_position=32, position=56, runs=2, age_grade=36.29, achievement='Naujas geriausias asmeninis rezultatas!', volunteer_count=0, time='35:33', personal_best=None, athlete_id=10054052, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Rhys BEASLEY', age_group='JV15-17', club='Redditch STARS', gender='Vyras', gender_position=None, position=57, runs=126, age_grade=37.92, achievement='Naujokas!', volunteer_count=17, time='36:42', personal_best=None, athlete_id=1112347, is_pb=False, club_membership='100 klubo narys'),
  Result(course_id=3549, event_number=4, name='Stuart BEASLEY', age_group='VV45-49', club='Redditch STARS', gender='Vyras', gender_position=None, position=58, runs=213, age_grade=39.54, achievement='Naujokas!', volunteer_count=41, time='36:43', personal_best=None, athlete_id=488749, is_pb=False, club_membership='100 klubo narys'),
  Result(course_id=3549, event_number=4, name='Olga KUTUZOVA', age_group='VM50-54', club='', gender='Moteris', gender_position=20, position=59, runs=4, age_grade=47.79, achievement=None, volunteer_count=0, time='36:54', personal_best=None, athlete_id=10054327, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Agota MIKAILAITĖ', age_group='JM10', club='', gender='Moteris', gender_position=21, position=60, runs=2, age_grade=46.15, achievement=None, volunteer_count=0, time='36:59', personal_best=None, athlete_id=10049082, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Bartas MIKAILA', age_group='VV45-49', club='', gender='Vyras', gender_position=35, position=61, runs=3, age_grade=38.33, achievement=None, volunteer_count=0, time='37:00', personal_best=None, athlete_id=10014067, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Marion H', age_group='SM30-34', club='', gender='Moteris', gender_position=22, position=62, runs=1, age_grade=40.04, achievement='Naujokas!', volunteer_count=0, time='37:08', personal_best=None, athlete_id=10158709, is_pb=False, club_membership=None),
  Result(course_id=3549, event_number=4, name='Kayleigh Jane BRAID', age_group='VM35-39', club='David White Running Fitness', gender='Moteris', gender_position=None, position=63, runs=44, age_grade=40.18, achievement='Naujokas!', volunteer_count=7, time='37:20', personal_best=None, athlete_id=8534414, is_pb=False, club_membership='25 klubo narys'),
  Result(course_id=3549, event_number=4, name='Krzysztof ORŁOWSKI', age_group='VV40-44', club='', gender='Vyras', gender_position=None, position=64, runs=72, age_grade=35.67, achievement='Naujokas!', volunteer_count=0, time='38:50', personal_best=None, athlete_id=8033005, is_pb=False, club_membership='50 klubo narys'),